.file-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 15px;
  justify-content: center;
  padding: 5px 20px; 
}

.drop-zone {
  border: 2px dashed #4180ab;
  border-radius: 5px;
  padding: 20px; 
  text-align: center;
  cursor: pointer;
  margin: 20px 0; 
  box-shadow: 0 10px 8px #dceaf3;
  background-color: #fafafa;
}

.file-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0; 
}

.file-table th, .file-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.file-table th {
  background-color: #f2f2f2;
}

.file-table td img {
  display: block;
  margin: auto;
}

.file-table button {
  padding: 5px 10px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.download-button {
  background-color: #007BFF;
  color: white; 
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px; 
}

.download-button:hover {
  background-color: #0056B3;
}

.delete-button {
  background-color: #DC3545;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.delete-button:hover {
  background-color: #C82333;
}

.minar-button {
  background-color: rgb(5, 217, 233); 
  color: white; 
  border: none; 
  padding: 8px 12px; 
  cursor: pointer;
  border-radius: 4px; 
}

.minar-button {
  background-color: black;
  color: white; /* Para que el texto sea visible /
  border: none; / Elimina cualquier borde por defecto /
  padding: 10px 20px; / Ajusta el tamaño del botón /
  cursor: pointer; / Cambia el cursor cuando se pasa sobre el botón /
}

.minar-button:hover {
  background-color: #333; / Un color más oscuro cuando se hace hover */
}