.file-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 15px;                            
  justify-content: center;
  padding: 5px 10px;                      
}

.file-item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: #f2f2ff;
  box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
}
.file-item:hover{
  transform: scale(1);
}

.drop-zone img.upload{
  max-width: 58px !important;
  max-height: 100px !important;
}
img {
  max-width: 50%;
  max-height: 125px;  
  margin-bottom: 10px;
  object-fit: fill;  
}

input{
  font-family: inherit;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 40px;
  display: flex;
  align-items: center;
}
.file-grid .file-item p{
  font-family: inherit;
}

/* dropzone  */

.drop-zone {
  border: 2px dashed #4180ab ;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  margin: 10px 10px;
  box-shadow:0 10px 8px #dceaf3;
}
.drop-zone p{
  margin: 0;
}