.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 76vh;
  background-color: #f8f9fa;
  padding: 20px;
}

.card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  text-align: center;
}

.card-header {
  background-color: #8ab3cf;
  color: #ffffff;
  text-align: center;
  border-bottom: none;
  padding: 15px;
  border-radius: 8px 8px 0 0;
  font-size: 1.5rem;
}

.card-body {
  font-size: 1rem;
  text-align: center;
}

.form-control {
  display: block;
  width: 100%; 
  max-width: 350px;
  margin: 0 auto 15px auto;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #8ab3cf;
  border-radius: 5px;
  max-height: 24px;
}

.form-label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: left;
  display: block;
  max-width: 350px;
  margin: 0 auto;
}

.btn-primary {
  background-color: #8ab3cf;
  border: none;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  width: 100%;
  max-width: 370px; 
  text-align: center;
  margin: 0 auto;
}

.btn-primary:hover {
  background-color: #709aad;
}

.toggle-password {
  position: absolute;
  right: 5px;
  top: 38px;
  cursor: pointer;
  color: #8ab3cf;
}

