.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    background-color: #f8f9fa; /* Fondo gris claro */
    padding: 20px;
}

.card {
    width: 100%;
    max-width: 400px; /* Ancho máximo del formulario */
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff; /* Fondo blanco */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    text-align: center; /* Centra el texto dentro de la tarjeta */
}

.card-header {
    background-color: #8ab3cf; /* Azul tradicional */
    color: #ffffff;
    text-align: center;
    border-bottom: none;
    padding: 15px;
    border-radius: 8px 8px 0 0;
    font-size: 1.5rem; /* Aumenta el tamaño de la fuente */
}

.card-body {
    font-size: 1rem;
    text-align: center; /* Alinea el contenido al centro */
}

.form-control {
    display: block; /* Asegura que el campo sea un bloque */
    width: 100%; /* El campo ocupa todo el ancho disponible */
    max-width: 350px; /* Ancho máximo para el campo */
    max-height: 24px;
    margin: 0 auto 15px auto; /* Centra el campo y agrega espaciado abajo */
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.form-label {
    font-weight: bold;
    margin-bottom: 0.5rem; /* Espaciado entre la etiqueta y el campo */
    text-align: left;
    display: block; /* Mantiene la etiqueta en una línea separada */
    max-width: 350px;
    margin: 0 auto; /* Centra la etiqueta */
}

.btn-primary {
    background-color: #8ab3cf;
    border: none;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
}

.btn-primary:hover {
    background-color: #709aad; /* Un tono más oscuro al hacer hover */
}

.position-relative {
    position: relative; /* Para colocar el ojo */
}

.text-danger {
    color: #dc3545;
    font-size: 0.875rem;
    max-width: 350px; /* Máximo ancho del mensaje de error */
    margin: 0 auto 15px auto; /* Centra el mensaje y agrega espaciado abajo */
    display: block;
}

.eye-icon {
    position: absolute;
    top: 65%;
    right: 20px; /* Ajusta el espaciado para que esté alineado al borde del input */
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2rem; /* Tamaño del ícono */
    color: #8ab3cf; /* Color del ícono */
}

